*.dll
*.pyc
*.log
*.suo
*.sdf
*.exe
quick/player/proj.win32
player3.app
external/libpomelo/Default/
external/libpomelo/build/gyp/
external/libpomelo/deps/jansson/Default/
external/libpomelo/deps/uv/Default/
quick/lib/proj.win32/Debug/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcdebuuger
